<?php

/**
 * @author Ammar Faizi <ammarfaizi2@gmail.com>
 * @license MIT
 */


/**
 * Token
 */
define("TOKEN", "426180876:AAF-AuV9r5m68H2q_QEJZtoU3mLeMtTT8ew");

/**
 * Sudoers & Global Admins
 */
define("SUDOERS", [243692601]);
define("GLOBAL_ADMINS", []);

/**
 * Database
 */
define("DBHOST", "localhost");
define("DBUSER", "debian-sys-maint");
define("DBPASS", "");
define("DBNAME", "pgice");

/**
 * Directory
 */
define("PUBLIC_DIR", __DIR__."/public");
define("BASEPATH", __DIR__);
define("LOG_DIR", __DIR__."/logs");
define("data", PUBLIC_DIR."/data");
define("PRIVATE_STORAGE", __DIR__."/storage");
define("PUBLIC_STORAGE", PUBLIC_DIR."/storage");

/**
 * Virtual
 */
define("PHPVIRTUAL_DIR", PUBLIC_DIR."/virtual/php");
define("PHPVIRTUAL_URL", "https://webhooks.redangel.ga/virtual/php");


/**
 * MyAnimeList
 */
define("MAL_USER", "ammarfaizi2");
define("MAL_PASS", "triosemut123");